body {
    font-family: Arial;
    margin: 40px;
    background: #f5f5f5;
}

h1 {
    color: #11116b;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

input, button {
    padding: 10px;
    margin: 5px 0;
}
